@import "./utils/_reset.scss";
@import "./utils/_variables.scss";


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.wrapper {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    padding: 15px;
    background: var(--white);
    border-radius: 8px;
    margin-bottom: 30px;

    
    & > p > img,
    &>img{
        width: 100%;
        height: auto;
        
    }
}

header {
    background: var(--gray);
    padding: 30px 0;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    height: 38px;
    width: auto;
    display: block;
}

.header__nav {
    display: flex;
}

.header__nav a {
    color: var(--black-1);
    padding: 10px 19px;
    margin-left: 5px;
    font: var(--header-text);
    border-radius: 5px;
}

.header__burger {
    display: none;
}

.header__nav a:hover {
    background-color: var(--red);
    color: var(--white);
}

.ads {
    padding: 16px 15px;
    display: flex;
    background: var(--white);
}

.ads__adplace {
    width: 970px;
    height: 250px;
    margin: 0 auto;
}

main{
    margin-top: 50px;
}

.chart-container{
    padding-top: 80px;
    background: var(--red);
}

.chart__title{
    font-size: 60px;
    line-height: 60px;
    color: var(--white);
    text-align: center;
    margin-bottom: 15px;
}

.chart__subtitle{
    text-align: center;
    color: var(--white);
    font-size: 26px;
    letter-spacing: 1.5px;
}

.splitted-content {
    display: grid;
    grid-template-columns: 1fr 330px;
    column-gap: 30px;
}



.faq-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
    row-gap: 50px;
    padding-top: 60px;
    padding-bottom: 90px;
}

.faq-card{
    h2{
        margin-bottom: 30px;
    }
}

.game__title{
    text-align: center;
    margin-top: 28px;
    margin-bottom: 15px;
}

.game__subtitle{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.game__counters{
    display: grid;
}

.game__counters{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.counters__group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    margin: 0 auto;
}

.counters__counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p:first-of-type{
        width: 100px;
        height: 100px;
        border: 1px solid var(--lightgray);
        font-size: 45px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7px;
        font-weight: 700;
    }
}

.counters__seconds-counter{
    position: relative;
    width: fit-content;
    justify-self: center;
    margin-right: 38px;

    p:first-of-type{
        border: 0;
    }

    svg{
        position: absolute;
        left: -5px;
        top: -5px;
    }
}

.game__text-container{
    position: relative;
    max-width: 820px;
    height: 100px;
    margin: 0 auto;
    margin-top: 90px;
}

.game__text-holder{
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 30px;
    position: relative;
    display: flex;
    border: 0 solid #d4d4d7;
    box-shadow: 0 9px 24px rgb(0 0 0 / 12%);
    overflow: hidden;
    border-radius: 15px;
}

#inputZone{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#typedText, #needToTypeText{
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

#typedText{
    text-align: right;
    right: calc(59%);
}

#needToTypeText{
    text-align: left;
    left: calc(40.5% + 5px);
}

.printed{
    color: var(--lightgray-1);
}

.isPrinting{
    color: var(--blue );
}

#typeCoursor{
    position: absolute;
    left: 41%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 1px;
    background-color: black;
}

#typeCoursor.blink{
    animation: blink-animation 1.3s steps(2, start) infinite;
}

#typeCoursor.deactivate{
    display: none;
}

#endPopup{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#endPopup.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

#startTypingIndicator{
    position: absolute;
    left: 41%;
    top: -15px;
    transform: translateX(-50%);
    background-color: var(--red);
    border-radius: 8px;
    padding: 2px 19px;
    animation: pulse 1.2s infinite ease-out;
    display: none;
    color: var(--white);
}

#startTypingIndicator:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 7px 5px 0;
    border-color: var(--red) transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#startTypingIndicator.active{
    display: block;
}

#capsLockAlert{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #ffd000;
    display: flex;
    align-items: center;
    gap: 5px;
    display: none;
}

#capsLockAlert.active{
    display: flex;
}

@keyframes pulse {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-1rem) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

footer {
    position: relative;
    background-color: var(--red);
    padding: 30px 0;

}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    margin-left: 30px;
}

.footer__links a {
    padding: 0 15px;
    position: relative;
}

.footer__links a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 2px;
    background-color: var(--white);
}

.footer__links a:hover {
    color: var(--white);
}

.footer__links li:first-child a:after {
    display: none;
}

.banner-v {
    aspect-ratio: 600/300;
    width: 100%;
    height: auto;
}


@keyframes rotate {
    0% {
        transform: scale(0.5) rotate(179deg);
    }

    75% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1.0);
    }
}

@media screen and (max-width: $desktop) {
    .wrapper {
        max-width: 1310px;
        /* 1280 + 30 padding px */
    }
}

@media screen and (max-width: $laptop) {
    .wrapper {
        max-width: 1260px;
        /* 1230 + 30 padding px */
    }
}

@media screen and (max-width: $tablet) {
    .scroll-lock {
        overflow: hidden;
    }

    body {
        padding-top: 82px;
    }

    .wrapper {
        padding: 0 30px;
    }

    header {
        padding: 25px 0;
    }

    .header__logo img {
        width: 300px;
        height: auto;
    }

    header .wrapper {
        flex-direction: column;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .header__burger {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        cursor: pointer;
        display: flex;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .header__burger span {
        position: relative;
        width: 100%;
        height: 3px;
        background: var(--red);
        transition: 0.25s linear;
    }

    .header__burger span::after,
    .header__burger span::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 7px;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--red);
        transition: 0.25s linear;
    }

    .header__burger span::before {
        top: -7px;
    }

    .header__burger.active span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .header__burger.active span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .header__burger.active span {
        background: transparent;
    }

    header nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
        transition: .25s linear;
    }

    header nav.active {
        opacity: 1;
        visibility: visible;
    }

    .header__nav {
        max-width: 270px;
        width: 100%;
        height: calc(100% - 82px);
        flex-direction: column;
        background-color: var(--blue);
        overflow: auto;
        position: relative;
        transform: translate(-100%, 0);
        transition: .25s linear;
        padding: 30px;

        a{
            color: var(--white);
        }
    }

    .adblock{
        display: none;
    }

    nav.active .header__nav {
        transform: translate(0, 0);
    }

    .header__nav a {
        padding: 15px 15px;
        margin-left: 17px;
    }

    .splitted-content {
        display: flex;
        flex-direction: column;
    }

    .chart__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 5px;
    }

    .chart__subtitle {
        font-size: 20px;
    }

    .faq-grid{
        grid-template-columns: 1fr 1fr;
    }

    footer .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__links {
        margin-top: 20px;
    }

    footer>.wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer__intro {
        margin-bottom: 50px;
    }

    .footer__navigation {
        max-width: 530px;
        width: 100%;
    }

    .footer__navigation h2 {
        text-align: center;
    }

    .footer__intro {
        text-align: center;
    }

    .navigation__container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation__container li {
        width: fit-content;
    }

    footer {
        margin-top: 0;
    }

    .ads {
        display: none;
    }

    .footer__links a::after {
        display: none;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-left: 0;
    }

    .footer__links a {
        padding: 0;
        width: 100%;
    }

    .footer__links li:nth-child(2n) a {
        text-align: right;
    }
}

@media screen and (max-width: $mobile) {

    h1,
    h2,
    h3 {
        text-align: center;
    }

    body {
        padding-top: 67px;
    }

    .wrapper {
        padding: 0 15px;
    }

    .header {
        padding: 20px 0;
    }

    .header__logo img {
        max-width: 200px;
    }

    .container {
        margin-bottom: 15px;
    }

    .chart__title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .chart__subtitle {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .faq-grid{
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }

    .game__counters{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .counters__group{
        column-gap: 15px;
    }

    .counters__seconds-counter{
        margin-right: 0;
        margin-top: 28px;
    }

    .counters__counter:not(.counters__seconds-counter){

        p:first-of-type{
            width: 70px;
            height: 70px;
            font-size: 32px;
        }

        p{
            white-space: nowrap;
        }
    }

    #typedText, #needToTypeText{
        font-size: 20px;
    }

    #typeCoursor {
        height: 25px;
    }

    .game__text-container{
        height: 80px;
        margin-top: 50px;
    }

    #needToTypeText {
        left: calc(40.5% + 2px);
    }

    footer p {
        text-align: center;
    }
}