:root {
    --blue: #1f2641;
    --light_blue: #313b77; 
    --orange: #fcba04;
    --white: #ffffff;
    --black: #000000;
    --gray: #090605;
    --lightgray: #737373;
    --background: #F1F1F1;
}

body,section,div{
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    background: var(--background);
    margin: 0;
}

.wrapper{
    max-width: 1530px;
    padding: 0 15px;
    margin: 0 auto;
}

.container{
    padding: 15px;
    background: var(--white);
    border-radius: 8px;
    margin-bottom: 30px;
}

header{
    background: var(--blue);
    padding: 30px 0;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    height: 32px;
    width: auto;
    display: block;
}

.header__nav{
    display: flex;
}

.header__nav a{
    padding:10px 15px;
    margin-left: 5px;
    font: var(--header-text);
    border-radius: 5px;
}

.header__nav a:hover{
    background-color: var(--orange);
    color: var(--black);
}

.ads{
    padding: 30px 15px;
    display: flex;
    background: var(--white);
}

.ads__adplace{
    max-width: 970px;
    width: 100%;
    padding-top: 13.4%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.ads__adplace > *{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

main.wrapper{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 330px;
    column-gap: 30px;
}

.game-screen iframe{
    width: 100%;
    aspect-ratio: 910/683;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 20px 0;
}

.button{
    padding: 15px;
    background-color: var(--blue);
    font: var(--button);
    text-align: center;
}

.button-small{
    padding: 10px 15px;
    background-color: var(--blue);
    font: var(--button);
}

.button:hover, .button-small:hover{
    background-color: var(--orange);
}

.share-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.share-grid .button-small{
    margin: 10px 10px;
}

.sidebar__nav{
    padding-bottom: 15px;
}

.sidebar__nav a{
    font: var(--p);
    color: var(--lightgray);
    padding: 10px 0;
}

.sidebar__nav a:hover{
    color: var(--black);
}

.sidebar__nav li{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #cacaca;
}

.marked-list li{
    padding-left: 20px;
    position: relative;
}

.marked-list li::after{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    left: 1px;
    top: 47%;
    transform: rotate(-45deg) translateY(-50%);
    border-right: 2px solid var(--blue);
    border-bottom:2px solid var(--blue) ;
}

footer{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

footer::after{
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 30px;
    position: absolute;
    background: var(--blue);
}

footer > .wrapper{
    background: var(--blue);
    position: relative;
    z-index: 2;
    border-radius: 12px;
    padding-top: 70px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.footer__intro img{
    margin-bottom: 10px;
    display: block;
}

.footer__intro p{
    max-width: 530px;
}


.footer__navigation h2{
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 30px;
}

.navigation__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.navigation__container li::after{
    border-color: var(--orange);
}

.navigation__container a:hover{
    color: var(--orange);
}

.footer__bottom{
    position: relative;
    z-index: 2;
    background-color: var(--orange);
    padding: 30px 0;
}

.footer__bottom a, .footer__bottom p{
    color: var(--black);
    font-weight: 500;
    line-height: 18px;
}

.footer__bottom .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__bottom-links{
    display: flex;
    margin-left: 30px;
}

.footer__bottom-links a{
    padding: 0 15px;
    position: relative;
}

.footer__bottom-links a::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 2px;
    background-color: var(--black);
}

.footer__bottom-links a:hover{
    color: var(--white);
}

.footer__bottom-links li:first-child a:after{
    display: none;
}

@media screen and (max-width: 1600px) {
    .wrapper{
        max-width: 1310px; /* 1280 + 30 padding px */
    }
}

@media screen and (max-width: 1360px) {
    .wrapper{
        max-width: 1260px; /* 1230 + 30 padding px */
    }
}