<div class="card">
    <div class="card__image">
        <a href="./game-page.html">
            <img width="290" height="180" src="./img/card-image-1.webp" alt="Game Title">
        </a>
    </div>
    
    <div class="card__content">
        <a href="./game-page.html">
            <h3>Game Title</h3>
        </a>
        <div class="card__footer">
            <div class="card__score-container">
                <img width="25" height="25" src="./img/heart-ico.svg" alt="favorite amount">
                <p>78.5 %</p>
            </div>
            <div class="card__score-container">
                <img  width="25" height="25" src="./img/like-ico.svg" alt="like amount">
                <p>9305</p>
            </div>
        </div>
    </div>
</div>