<footer>
  <div class="wrapper">
    <p class="footer-text">Copyright © 2022 - All rights reserved</p>
    <ul class="footer__links">
      <li><a class="footer-text" href="#">Contact Us</a></li>
      <li><a class="footer-text" href="#">Privacy</a></li>
      <li><a class="footer-text" href="#">T.O.S</a></li>
      <li><a class="footer-text" href="#">Cookie</a></li>
      <li><a class="footer-text" href="#">Disclaimer</a></li>
      <li><a class="footer-text" href="#">About Us</a></li>
      <li><a class="footer-text" href="#">Blog</a></li>
    </ul>
  </div>
</footer>