<header>
  <div class="wrapper">
    <button aria-label="toggle menu" class="header__burger">
      <span></span>
    </button>
    <a href="/" class="header__logo">
      <img width="240" height="38" src="./img/logo.png" alt="Go to main page">
    </a>
    
    <nav>
      <ul class="header__nav">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2 </a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>