<header>
  <div class="wrapper">
    <button aria-label="toggle menu" class="header__burger">
      <span></span>
    </button>
    <a href="/" class="header__logo">
      <img width="400" height="32" src="./img/header__logo.svg" alt="Go to main page">
    </a>
    
    <nav>
      <ul class="header__nav">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Tables</a></li>
        <li><a href="#">Worksheets</a></li>
        <li><a href="#">Charts</a></li>
      </ul>
    </nav>
  </div>
</header>