<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@@title</title>

<meta name="description" content="LearnMultiplication is a site where you can learn multiplication">
<link rel="stylesheet" href="./css/style.css">
<style>
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local(''),
            url('./fonts/poppins-v20-latin-regular.woff2') format('woff2')
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: local(''),
            url('./fonts/poppins-v20-latin-500.woff2') format('woff2')
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: local(''),
            url('./fonts/poppins-v20-latin-600.woff2') format('woff2')
    }
</style>