<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@@title</title>

<meta name="description" content="The faster you type, the faster you communicate with others. With our free typing speed test, you can check your WPM and CPM typing scores in a flash!">
<meta name="author" content="Typing Speed Test">
<meta name="referrer" content="origin">
<meta name="application-name" content="MTyping Speed Test">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:site_name" content="Typing Speed Test">
<meta property="og:title" content="Typing Speed Test - One Minute Typing Test (WPM)">
<meta property="og:description" content="The faster you type, the faster you communicate with others. With our free typing speed test, you can check your WPM and CPM typing scores in a flash!">
<meta property="og:image" content="https://raw.githubusercontent.com/Dima34/Live-typing/master/img/meta-image.jpg">
<meta name="twitter:title" content="Typing Speed Test - One Minute Typing Test (WPM)">
<meta name="twitter:description" content="The faster you type, the faster you communicate with others. With our free typing speed test, you can check your WPM and CPM typing scores in a flash!">
<link rel="stylesheet" href="./css/style.css">

<style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local(''),
            url('./fonts/roboto-v30-latin-regular.woff2') format('woff2')
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: local(''),
            url('./fonts/roboto-v30-latin-500.woff2') format('woff2')
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: local(''),
            url('./fonts/roboto-v30-latin-700.woff2') format('woff2')
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: local(''),
            url('./fonts/roboto-v30-latin-900.woff2') format('woff2')
    }
</style>